/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

font-family: 'Montserrat', sans-serif;

.nav-top {
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* position: fixed;
    z-index: 5;
    top: 0; */
    width: 100%;
    background-color: red;
}

.container-main {
    display: flex;
    height: calc(100vh - 80px);
    background-color: #141922;
    /* position: relative; */
}

a {
    text-decoration: none;
}

aside {
    background-color: black;
    /* height: calc(100vh - 80px); */
    width: 300px;
    /* flex-direction: column; */
}

.top-aside {
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
}

.crea-play {
    margin-bottom: 10px;
}

.crea-play a {
    font-size: 19px;
}
.square {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #a3a3a3;
    vertical-align: middle;
    text-align: center;
    color: black;
    line-height: 30px;
}

.nav-bottom {
    height: 80px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    width: 100%;

}

.main-content {
    overflow-y: auto;
    width: calc(100% - 300px);
}

.aside-content {
    margin-left: 20px;
    margin-top: 20px;
    color: #535353;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

}

.logo {
    width: 170px;
    margin-bottom: 10px;
}

.home {
    width: 40px;
    margin-bottom: 10px;
}

.search {
    width: 40px;
    margin-bottom: 10px;
}

.library {
    width: 40px;
    margin-bottom: 10px;
}

.playlist {
    overflow-y: auto;
    height: 300px;
}

.playlist > h3 {
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.playlist a {
    margin-bottom: 10px;
    color: #535355;
}

.home, .search, .library {
    display: inline-block;
    vertical-align: middle;
}

.home-text, .search-text, .library-text {
    display: inline-block;
    color: #535353;
    vertical-align: middle;
    
}

ul li {
    margin-bottom: 10px;
}

.account-icon {
    width: 40px;
}
.account-icon, .account-text {
    display: inline-block;
    margin-bottom: 40px;
}


.account {
    border-top: 1px solid #535355;
    margin-top: 30px;
}

.installation {
    color: #535355;
}
